
{% extends 'base.html'%}

{% block content %}

<br/>
<div class="shadow-lg p-3 mb-5 bg-body rounded">
    <h5 class="card-title">Department 1 </h5>
    <a href="#" class="btn btn-primary" >Visit</a>
</div>
<br/>
<div class="shadow-lg p-3 mb-5 bg-body rounded">
    <h5 class="card-title">Department 2 </h5>
    <a href="#" class="btn btn-primary" >Visit</a>
</div>
<br/>
<div class="shadow-lg p-3 mb-5 bg-body rounded">
    <h5 class="card-title">Department 3 </h5>
    <a href="#" class="btn btn-primary" >Visit</a>
</div>
<br/>
<div class="shadow-lg p-3 mb-5 bg-body rounded">
    <h5 class="card-title">Department 4 </h5>
    <a href="#" class="btn btn-primary" >Visit</a>
</div>
<br/>
<div class="shadow-lg p-3 mb-5 bg-body rounded">
    <h5 class="card-title">Department 5 </h5>
    <a href="#" class="btn btn-primary" >Visit</a>
</div>
<br/>
<div class="shadow-lg p-3 mb-5 bg-body rounded">
    <h5 class="card-title">Department 6 </h5>
    <a href="#" class="btn btn-primary" >Visit</a>
</div>
<br/>
<div class="shadow-lg p-3 mb-5 bg-body rounded">
    <h5 class="card-title">Department 7 </h5>
    <a href="#" class="btn btn-primary" >Visit</a>
</div>
<br/>
<div class="shadow-lg p-3 mb-5 bg-body rounded">
    <h5 class="card-title">Department 8 </h5>
    <a href="#" class="btn btn-primary" >Visit</a>
</div>
<br/>
{% endblock %}
